[submodule "DAW/DAW/App_Data"]
	path = DAW/DAW/App_Data
	url = git@github.com:cluntraru/DAW-database.git

[submodule ".\\DAW\\DAW\\App_Data"]
	path = .\\DAW\\DAW\\App_Data
	url = git@github.com:cluntraru/DAW-database.git
