
@{
    ViewBag.Title = "Index";
}

<script>
    function searchTerm() {
        var searchText = document.getElementById("searchBox").value;
        window.open("/search/find/" + searchText);
    }
</script>


<h2>Search</h2>
<br />
<br />
<br />
<form asp-controller="Category" asp-action="Index" method="post">
    <div class="form-group">
        <label>Search keywords:</label>
        <input type="text" class="form-control" name="SearchString" id="searchBox">
        <input type="submit" class="btn-primary" value="Search Forum" onclick="searchTerm()" />
    </div>
</form>