
@{
    ViewBag.Title = "Index";
}

<script>
    function searchTerm() {
        var searchText = document.getElementById("searchBox").value;
        window.open("/search/find/" + searchText);
    }
</script>


<h2>Search</h2>
<form asp-controller="Category" asp-action="Index" method="post">
    <p>
        Title: <input type="text" name="SearchString" id="searchBox">
        <input type="submit" value="Search Forum" onclick="searchTerm()"/>
    </p>
</form>