@{
    ViewBag.Title = "Add subject to category";
}

<h2>Add Subject</h2>

<form method="post" action="/category/addsubject/@ViewBag.CategoryId">
    <input type="hidden" name="CategoryId" value="@ViewBag.CategoryId"/>
    <br />
    <label>Titlu subiect</label>
    <br />
    <input type="text" name="Title" />
    <br />
    <label>Descriere subiect</label>
    <br />
    <input type="text" name="Content" />
    <br />
    <br />
    <button class="btn btn-success" type="submit">Adauga subiect</button>
</form>
