
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/category/edit/@ViewBag.Category.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put);
    <label> Nume categorie </label>
    <br />
    <input type="text" name="Name" />
    <br />
    <label> Descriere categorie </label>
    <br />
    <input type="text" name="Description" />
    <br />
    <br />
    <button class="btn btn-success" type="submit">Actualizeaza Categorie</button>
</form>
