@{
    ViewBag.Title = "Lista categorii";
}

<h2>@ViewBag.Title</h2>
<br />

<a class="btn btn-success" href="/Category/index">Sort by name</a>
<a class="btn btn-success" href="/Category/indexbysubjects">Sort by number of subjects</a>
<br />
<hr />
<br />

@foreach (var category in ViewBag.Categories)
{
//    @Html.Label("Name", "Nume Categorie")
    <h3> @category.Name </h3>
    <p>@category.Description</p>
    <a class="btn btn-success" href="/Category/Show/@category.Id">Afisare categorie</a>
    <a class="btn btn-success" href="/Category/Edit/@category.Id">Editare categorie</a>
    <br />
    <hr />
    <br />
}

<br />
<a class="btn btn-info" href="/category/new"> Adauga categorie </a>
<br />

