
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="/category/new">
    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
    <br />
    <label> Nume categorie </label>
    <br />
    <input type="text" name="Name" />
    <br />
    <label> Descriere categorie </label>
    <br />
    <input type="text" name="Description" />
    <br />
    <br />
    <button class="btn btn-success" type="submit">Adauga Categorie</button>
</form>
