@model DAW.Models.Category
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="/category/new">
    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
    <br />
    <label> Nume categorie </label>
    <br />
    <input type="text" name="Name" />
    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br />
    <label> Descriere categorie </label>
    <br />
    <input type="text" name="Description" />
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Adauga Categorie</button>
</form>
