
@{
    ViewBag.Title = "Show";
}
<h2> @ViewBag.Category.Name</h2>
@foreach (var subject in ViewBag.Category.Subjects)
{
    @Html.Label("")
    <p> @subject.Title</p>
    <p> @subject.Content</p>

    <a class="btn btn-success" href="/Subject/Show/@subject.Id">Afisare subiect</a>
    <a class="btn btn-success" href="/Subject/Edit/@subject.Id">Editare subiect</a>
    <br />
    <hr />
    <br />

}


