@{
    ViewBag.Title = ViewBag.Category.Name;
}

<h2>@ViewBag.Title</h2>
<br />

<a class="btn btn-primary" href="/Category/show/@ViewBag.Category.Id">Sort by name</a>
<a class="btn btn-primary" href="/Category/showbymessages/@ViewBag.Category.Id">Sort by number of messages</a>

<br />
<hr />
<br />



@foreach (var subject in ViewBag.Subjects)
{
    <h2>@subject.Title</h2>
    <p>@subject.Content</p>
    <a class="btn btn-success" href="/Subject/Show/@subject.Id">Afisare subiect</a>
    if (ViewBag.UserId != null)
    {
        if (ViewBag.UserId.Equals(subject.UserId) || ViewBag.IsUserPrivileged)
        {
            <a class="btn btn-success" href="/Subject/Edit/@subject.Id">Editare subiect</a>
            <form method="post" action="/subject/delete/@subject.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger" type="submit">Stergere subiect</button>
            </form>
        }
    }
    <br />
    <hr />
    <br />
}

<br />
<a class="btn btn-info" href="/category/addsubject/@ViewBag.Category.Id"> Adauga subiect </a>
<br />

