@model DAW.Models.Message
@{
    ViewBag.Title = "Adauga Mesaj";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/subject/addmessage/@ViewBag.SubjectId">
    <input type="hidden" name="SubjectId" value="@ViewBag.SubjectId" />
    <input type="hidden" name="UserId" value="@ViewBag.UserId" />
    <br />
    <label> Mesaj </label>
    <br />
    <input type="text" name="Content" />
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-success" type="submit"> Adauga mesaj </button>
</form>
